<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/page.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<<<<<<< HEAD
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
||||||| 732dec3
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
=======
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
>>>>>>> 24954e68292b21b7e5e04a42b120e495cd64f29c
      rel="stylesheet"
    />
  <title>Document</title>
</head>
<body>
  {{{body}}}

</body>
</html>

