</head>

<div class= "homeNavigation">
    <ul class= "homeLinks">
        <li class= "homeAccess"><a href="./home">Home</a></li>
        <li class= "homeAccess"><a href="href="href="./profiles">Profiles</a></li>
        <li class= "homeAccess"><a href="./newProfile">Add a profile</a></li>
    </ul>
</div>

<body class="homePohutukawa">

    <div class="homeWelcome">
        <h1>Haere mai, Nau mai!</h1>
        <h1>Welcome!</h1>
    </div>

    <div class="homeWhakatauki">
        <h3><em>Anō nei he Pōhutukawa korua, e whātoro ana I ōna takiaho.E hii au te kaha.</em></h3>
        <h3>Just as the Pōhutukawa, whose roots seek out those of its kind to be strong, so too must we cling to each
            other.</h3>
        <br>
    </div>

    <div class="homeButton">
        <button class="button" type="button"><a class="link" href="/profiles">Let's connect!</a></button>
    </div>
    <div class="homeWhakatauki">
        <p><strong>Click here to connect with the Pōhutukawa cohort 2020.</strong></p>
    </div>

</body>

</html>