<!DOCTYPE html>
<html>

<head>
  <title>Social Database</title>
</head>

<body>
  <ul>
    {{#each users}}
    <li><a href="/profiles/{{id}}">{{name}}</a> ({{email}})</li>
    {{/each}}
  </ul>
</body>

</html>

<button class="button" type="button"><a class="link" href="/addProfile">Add new Profile</a></button>