   <div class="indexBody">
     
  <h1 class="indexh1">
Profiles in the Database
  </h1>
  
  <ul class='indexList'>
  {{#each users}}
    <li><a href="/profiles/{{id}}">{{name}}</a><br>
    <br></li>
  {{/each}}
  </ul>





<button class="indexButton" type="button"><a class="link" href="/addProfile">Add new Profile</a></button>
</div>