<h1 class="form-title">Add a new user profile</h1>

<form class="form" action="/addProfile" method="POST">
 <label for="name">Name:</label><br>
 <input id="name" name="name" required><br><br>

 <label for="email">Email:</label><br>
 <input id="email" name="email" required><br><br>

 <label for="bio">Bio</label><br>
 <input id="bio" name="bio" required><br><br>

 <label for="url">URL</label><br>
 <input id="url" name="url" required><br><br>

 <input type="submit" name="Add Profile" id="submit">
</form>

<button class="button" type="button"><a class="link" href="/">Home</a></button>